.checkpoint_status, .autosave_status,
#menubar, #maintoolbar-container > .btn-group,
#kernel_logo_widget, #login_widget, #cell_type,
#tabs, #notebook_toolbar, #notebook_list_header {
  display: none;
}
#run_int button:not(:first-child) {
  display: none;
}
#run_int, #run_all_cells {
  display: block !important;
}
#login_widget+span {
  display: none;
}
.toolbar-btn-label {
  display: none;
}
#run_int button:after {
  content: 'Run selected cell';
  padding-left: 1em;
}
div#header-container:after {
  content: "";
  display: inline-block;
  width: 192px;
  height: 80px;
  background-size: 192px 80px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUh\
    EUgAAAYAAAACgCAYAAAAFHLs9AAAABHNCSVQICAgIfAhkiAAAIABJREFUeJzt3XlcVOe9P\
    /DPObMxC/uiAiIIbiMqogatiWuMqRo17lqT9LapRlOb3OTmxiRNmyb9NdomuTc3MU1rupi\
    0CqK4x30jCmTBhaAoIoIgiIDI4jDbOc/vD5gJIArMGRiG+b5frxGY5Xu+jMPzPec5z3kej\
    jHGQAghxOPwrk6AEEKIa1ABIIQQD0UFgBBCPBQVAEII8VBUAAghxENRASCEEA9FBYAQQjw\
    UFQBCCPFQVAAIIcRDUQEghBAPRQWAEEI8FBUAQgjxUFQACCHEQ1EBIIQQD0UFgBBCPBQVA\
    EII8VBUAAghxENRASCEEA9FBYAQQjwUFQBCCPFQVAAIIcRDUQEghBAPRQWAEEI8FBUAQgj\
    xUFQACCHEQ1EBIIR0KqvRjMsHvoGx5q6rUyEtUAEghHQqs8GE5BXvY9O836D+Tp2r0yFNU\
    AEghHSJW5eKcLei2tVpkCaoABBCugZjsBhMrs6CNEEFgBDSZcwGo6tTIE1QASCEdBlzXb2\
    rUyBNUAEghHQZExWAboUKACGky5hqDK5OgTRBBYAQ0mWMtVQAuhMqAISQLmOii8G6FSoAh\
    JAuY6iiC8G6EyoAhJAuU19V6+oUSBNUAAghXYYKQPdCBYAQ0mXqq+ogWgVXp0EaUQFogTH\
    m6hQI6bGMNXdhMZpdnQZpJHd1At2RKIrgOM6pMW2Fhee7tuY6u6A5+30hnsVYY4C13gyVT\
    u3qVAioALSqoKAAq1evhsnkvImr1Go1PvvsM4SGhjotZnt98cUX+Mc//uHw62UyGdatW4f\
    4+HgqAEQS8916GGvvQhvs6+pUCKgAtGr37t04ePCgU2NyHId9+/bh2Weftf/cVQoKCnDix\
    AmHXy+TyVBVVUWNP5GOAdVF5Qjs3/U7QuRedA6gCcYYBEHA1q1bOyV2cnIyrFar02N3BY7\
    jqAAQp7hTdMvVKZBGVAAaMcbAGMOFCxdw/vz5TtlGeno6CgoKOiX2/VCjTbqb2wU3XZ0Ca\
    UQFoIVdu3bBYOic+Urq6uqwZ8+eTolNiLuoyC2m0XbdBBWAJkwmE7Zv396p20hOTobZTMP\
    giOeqvFYKwWxxdRoEVACaOXPmDHJycjp1G5mZmbh8+bK9y4kQT3Pn+i3U05xA3QIVgCa2b\
    98Oi6Vz90wsFguSk5Op8SceS7QKKM3Kd3UaBFQA7HvitbW12L17d5dsMyUlBfX1tDIS8Vy\
    FGRddnQIBFQAADUWgK0foXLp0CefOneuSowA60iDdUcGp72lOoG6ACkCjpKQkCELXfCBFU\
    URSUlKXbIuQ7qgspxB3istdnYbHowIA4Pbt2zhw4ECXbnPHjh1d0g1E1wGQ7oiJDBf3pLk\
    6DY9HBQDAiRMncPNm116cUlxcjFOnTtFoIOKxziUehyiIrk7Do3l8AWCMITEx0SWN8ObNm\
    6nxJx6rquAm8o6dcXUaHs1jC4Btz7usrAxHjx51SQ579uxBXR2NhyaeK/WDZDoZ7EIeWwC\
    AhiKwb98+3LlzxyXbr6qqwv79+12ybUK6g9Lv85G17aSr0/BYHl8AtmzZ4tIctmzZQt1Ax\
    HMx4Ni6zTRDqIt4dAEoLCxEenq6S3M4fvx4p56ApuJCuru75dXY8/KfYb5rdHUqHsejC4A\
    zrsiVusSj7QpkGg1EPFnB6Wx8+dpGWGm94C7lsQVAEARs27ZNUgyO4/Czn/1MUgzGGLZu3\
    QpR7JzhcHQdAHEX329Pxe6X/wxTHU2T0lU8rgDY9rSzs7Nx7tw5SbF69+6NN998EyEhIZL\
    ifPvtt7hy5YqkGIT0BBd2nsLmZb9H5dUSV6fiETyuAAANRWDbtm2SF32fPXs2wsLCMG3aN\
    Elx6urqsGvXLkkxCOkpijNz8beZryHjr3shWNxzCVV34ZEFwGg0YufOnZJi8DyPJUuWgOM\
    4LF26VHJO27Ztg8VioXMBhAAw1Rpw+Heb8OmUl5C1PRUWo5n+LjqBRxUA2wcoMzMTubm5k\
    mJFRkZi9OjRAIBx48YhIiJCUrzs7GycP3+ePuSENHE7vxS7fvUR/jzpRaR+kIzKqyV04Zg\
    TeUwBaNqwpqSkSF74Ze7cudBoNOA4Dn5+fnj88cclxXPGUUlrGGNQq9WSYnAcB5VKRcWJu\
    Ex1UTlSP0jGp1Newj+ffBOpHySjODMXxpq79LmUQO7qBLoSYwzV1dXYu3evpDhyuRxPPvm\
    k/WeO4zB//nz87W9/kzSl9M6dO7F27VrodDpJ+TXFGEP//v0lxfDy8kJUVBQYYzSqiLiUa\
    BVw48wV3DhzBSff3wpdL3+EDI5A2MgY9BnWH0EDwqEN9oXKWwOARsG1xaMKAABkZGTg2rV\
    rkmIMGjQI8fHx4DgOHMeBMYYxY8YgKioKeXl5Dse9cuUKMjMzMXHiREn5NcVxHKKjoyXF8\
    PPzQ69evZyUESHOU1dWhbqyKuSfPA8A4BUyaAJ84N3LHwFRfeDfrxd8w4LgGx4MXS9/qH1\
    1UHmrodSqgcba4MlFwqMKgG3MvdSFX+bOnQu1Wt3sg+Pr64uZM2fiww8/dDiuxWLBtm3bn\
    FoAACA4OBje3t6ora116PWDBg2CTCbz6D8U4h5Ei2AvCi3XHeZlPORqFeReSijVKmiDfKE\
    J9IHaXwcvXy3U/t5Q+2qh0mkaioS3GkqNGgovBeReSshVSshVDd/LVArwMt7t/yY8qgCUl\
    5fj8OHDkmKoVCrMnj271cfmzp2LTz75RNL5hb179+Ltt9+Gn5+f/QhDKh8fHwQFBTlcAIY\
    NG+b2H3RCREGEua4e5rp6GIB2zT/E8Rw4nm9o7HkenIwHz/PgZBx4mayxMCh++KpSQKa0f\
    ZU3fK+Ug1fIIVPIIZPLGr5Xtvi+6WMKOWQKGXi57Wvzm0x+731NH1P768DLZO16TzyiANh\
    OEqWmpqKkRNoFJkOHDsXw4cNbfWzUqFEYMGAALl50fMHroqIipKWlYcaMGQ7HaEmlUiEiI\
    sLhrq/Y2FgqAMQjMZGBiUL3GHnENfzDNX4F16T7igO4xvsC+4diyedr4RsW3GbIHj8KyNb\
    4C4KApKQkySMG5s+fD6VS2ew+2566TqfD3LlzJcUXRdHpC9QoFAqHzwPIZDIMHjzYabm4G\
    mMMoni/m9h4o8ed+rht8AAHukm5NXyCG68VEsFEEaIgNNysAgSrFYLFiluXr+PI21+AiW2\
    3IR5xBAAApaWlOHlS2rzjGo0Gs2bNavUx28ngJ554Au+//76kq4wPHTqE8vJyp5x4te0hx\
    MTEOPR6hUKBAQMGSM6juzBZrVjx9624VeNYdxjpOI1cjj9ufgMKvn3dEkQ6mVIOgKFJ5Wi\
    VRxQAxhi+/PJLVFZWSooTFxcHvV7/wO6QESNGQK/X4+zZsw5vp7y8HEePHsWyZcscjtGSo\
    414SEgIgoKCnJaHq3kpFHiofwTe2nEAIo0f7xJ+GjXCfzkYXgqFq1MhLXhEAbBarZJn/gQ\
    aun/aGg2jUqnw5JNPSioAAJCUlIQlS5bYp5uW2gcfFRUFnuc7POuoXq+XtN3u6LkpP0IfP\
    x/klJTBIgiNNxEWQYC18Xtrk/ua3m9p9rgAQWQQRBEia/wqMgisxVdRhND4eMONCg/pHjy\
    iABQWFiItLU1SDJ1Oh5kzZ7brubNmzcK6detgMBgc3l5qaipu3LiB8PBwp5yADQkJgY+PT\
    4eXv4yNjZW87e5GLpNh/pgRTolla9BF1vi1sbEX7Y1+0+9FCIIIqyjCbBVgFqwwWawwWhq\
    +1lssMFosMFqsqDdbYDCZYTCbcddkhsFsQZ3JhNp6E+qMJtw1m2E0W5o8bqbCQjqsRxcA2\
    4nUnTt3SmqMgYYRPu3tR4+NjYVer8d3333n8PZsVyw/99xzDsdoysfHBwEBAQ4VABoBdH8\
    ynoeMB4Cu7d8WRBEWqwCTIMBstcJssaLGaEJF7V2U19bhVk0tbtXUoeRONW7crsatmjqU1\
    9bhjoHm2ic/6PEFwHZxlRQcx2HRokVtNoS2x+VyORYuXIjMzExJo3kSExOxYsUKyNo5pvd\
    BNBoNwsPDkZ+f3/aTmxgyZAhNAdENyXgeMiUPL/zQrx52n+cyxmC2CjBZrbh914D8W5W4c\
    rMcOaVluHjjJi6VlKHORCtxeSKO9eCZlERRRHZ2NuLj4yVd/evt7Y3s7Gx7d0xbjSFjDLm\
    5uRg5cqSkJSeVSiWys7MRExMjuQEWRRE/+9nPsGnTpna/hud53LlzBzqdjgpADyWIIkwWK\
    y6V3kLG1QJ8dTkfp3PznVoQ/DRqXFy3lk4Cd0M9/jqAxMREyVM/PPzww+jbt2/DFYDtbAh\
    jYmIQHx8vabtmsxnJycmSYjTV0aGgkZGR0Gq1Tts+6X5kPA+NSon4yHCsnvowtqx+Grl/e\
    gNbn38GS8fGw0ft5eoUSSfq0QXAYrFg+/btkmLYun8ceV13Wyhm4MCBHXp+TxwBRNrmpVD\
    g0dhB2PDMApz//Sv405LZGNg7uI0R5cQd9egC4Iy1dnU6HWbNmtWhxtd2lDB79mxoNBpJ2\
    8/OzkZWVpZTrgzu169fh84nDB06tENHPaTn8dWo8fOJY3Hi9V/iw+XzEBHo5+qUiBP1yAJ\
    g21t2xtQP06ZNQ0BAQIcbQY7jEBYWhvHjx0vavjOOYmz59OrVq0NrDQwbNkzydknP4KVQY\
    Pn40Tjy6mo8PX40ZHyPbDo8To/7X7Q1+M5aaN2R7h/gh/mBlixZIjmHHTt2SB7GCgD+/v4\
    IDAxs9/OpC4i0FOStw/vL5uL/lj8JrUrZ9gtIt9bjhoFyHAdRFHHy5EkUFxdLjldYWIhPP\
    /3U4W6Q8vJyyGQySSeir169im+//RaTJk1yOAbQMBS0d+/e7RoKqlKpEBUVJWl7pGeS8Ty\
    WjhuF3n4+eOYvm1EnYd4r4lo9rgDYbN261Sn95q+++qoTspHGarUiOTlZcgGQyWSIiYlp1\
    1XRUVFRks9fkJ5t8pAB2PjzxXj6L/+GReJIO+IaPbILqLKyEgcOHHB1Kk61f/9+3L59W9J\
    oII7j2r0+sF6vd8oFaKRneyx2EN6YPc3VaRAH9agCYGsYDx06hIqKChdn41zXr1/HqVOnJ\
    DX+QMPyju3R1qynhAANn6tVU8ZjwiBp604T1+hRBQBoWPjFWd0/3YkoipJHNXEch4iICMj\
    lbff89aRFYEjnUshleGf+j6GmK33dTo86B8AYQ3FxseSFX7qrY8eO4ebNmwgNDXU4xuDBg\
    /Hxxx/DarU+8HlSzzcQzxIb3gfzRg/Hv9MzXZ0K6YAeVQA4jsOXX36J6upqV6fSKW7duoX\
    jx4/jJz/5icMx/P39sWLFCidmRUjD396KyeOw7dvzMLWxc0G6D7fvAmraJeKshV+6K8YYt\
    m7dCkEQJJ0L6MiNkPbSh/VGQnQ/V6dBOsDtC4BtLV5RFO3j5XuykydPoqioqMed4yDuT8b\
    zWPhQnKvTIB3g9gWgqR07dqCurs7VaXSqmpoa7Nu3DwCoCJBuZ9KQGHh7qVydBmmnHnEOg\
    DEGs9mMHTt2uDqVLrFt2zasWLECinaMurAdHdXX1ztcMGQyGby8vKhbiLQp1M8H+rDe+Pp\
    qoatTIe3QIwoAx3G4cOECzp075+pUukR6ejry8/MxaNCgdq3WVVFRgdjYWNy+fduh7T322\
    GP2ow5CHoTjOEwcHE0FwE30iC4gxhiSk5NhsVhcnUqXsC0U096rgjmOgyAIEEXRoZsgCLT\
    nT9ptTP8IV6dA2smtC4CtATQajU6Z+dOdpKSkwGw2t3udYqmo+4e01+A+vaBR0kVh7sDtu\
    4AYY/jmm2+Qm5srKY5KpcKLL74IX19fJ2V2f5WVlfjwww/bvBjrQbKysuzrHXd2w0wNP+m\
    IPn4+CPbWobCyytWpkDa4fQEAGmb+FEVRUowRI0bgrbfegkql6vQGz2w248CBA7hw4YLDM\
    URRRGJiouR1hwlxNp7jMLB3CBUAN+D2XUB1dXXYvXu35Fjz5s2DStU1w9cUCgXmzZsnOc7\
    27du75LwHDTclHRXTO8jVKZB2cOsCwHEcTp48iZKSEklxNBoN5syZ06X93AsWLGjXpGwPU\
    lBQgLS0NKcsGE+IM0UGBrg6BdIObl0AACAxMVFy4zdmzBhER3ftdLZ6vR7Dhw+XHMcZvz8\
    hzkaLx7sHtywAtj3eO3fuYO/evZLjOWNvvKN4nsfChQslx9m5cydqa2udkBEhzhMW4AcZT\
    4MHuju3LABAQxHYt28fampqJMXR6XSYOXNml+5FcxwHnucxf/58yatulZeX4+jRo3QUQLq\
    VYG8dZJzbNi8ew63/h7Zs2SI5xo9+9CNERES4ZKhj//79kZCQICkGYwxJSUlOyogQ5wjQa\
    SCXuXXz4hHc9n+oqKgIqampkuMsWrQIMpnMJQXAWd1AR44cQVlZmRMyah1dB0A6SiGTIUC\
    ndXUapA1uWwD27NkjeeZPb29vzJgxw0kZOWbOnDnw8vKSFKOqqgoHDx6k0UCkWwmkAtDtu\
    WUBsK2PK9XkyZMREhLihIwcFx4ejkceeURSDMYYEhMTIQiCk7K6Nz4hHRWgVbs6BdIGtyo\
    AtqmNL1++jLNnz0qOt2TJEpd3b8jlcixYsEBynLS0NBQUFNzTWDvrqICOLkhH+Ws1rk6Bt\
    MEtp4LIzs7GiBEjJMXQaDSYOnWqkzJyjK34zJo1CxMnTpR0VS/Hcbh48SL69+9/z2NyuRw\
    PPfSQw8NF9Xp9u6adJqQpPw0dAXR3HHOj3brWUnW0UWoay9UNmzNyuV+MzoxNyIO8s/Mg/\
    ufgSfhp1Li4bi282rGAEelabnUE4MzGpzs1ZM7I5X4xOjM2IQ/irZY2uIF0Prc6B0AIcR8\
    +Eke3kc5HBYAQ0il0XkpXp0DaQAWAENIptF00vTpxHBUAQkin0KroCKC7owJACOkU/nQhW\
    LdHBYAQ0imG9Q3F+sVPYFjfPuBAI8m6I7e6DoAQQojz0BEAIYR4KCoAhBDioagAEEKIh6I\
    CQAghHsqt5gJqqeUkZY5MWubMCeYeFPtBE7R1NO+WObt6rp7OfA8JIZ3HrQsAgGaLoHAcZ\
    791NIZtumOe553aeNnWMLDlZ1sE3ja/vq3xbO92bfFsMV21nGVLTXOSy93+Y0WIR3D7LqB\
    169ZhxIgRiIuLw+LFix2aU/9Xv/oV4uLi8MILL9j3yLOyspCWloarV69KWgzFYrHgxz/+M\
    eLi4rB27dpmj7333nuIi4vDpEmTUFNT0+6Ye/fuxciRIzFy5EiYzWaH8nImxhiOHDmCkSN\
    HYuLEiSgvLwcAVFdXIy0tDenp6TAYDC7OkhDSklvvqlksFmzcuBHXr18HAFy9ehV5eXnQ6\
    /XtjsFxHAoLC5stpsIYw6pVq5CWloaVK1fik08+cWgv23Y0kpubi+vXryM2NrbZ/Tdv3sS\
    FCxcQGBgIURTb3IatCNXU1CA3N7fZfa5WW1uL3Nxc+Pn5wWq1AgDOnDmDKVOmQKVS4ezZs\
    xg8eHC3OFohzTHGYBUEFN0oQXHJTZhMJui0WkT164uQoEDwfMf3E0VRRHnlbVy7XoTauru\
    Q8TwCA/wRFdEX3jqtQ58D247YrYpKXLtehLo6A1QqJcL79EZEeCgdeTrALd8xW6N3+vRpF\
    BUVged58DwPo9GIw4cP2wuA7XmMMRgMBhgMBshkMnh7e0PxgMUpbF0ZtteKogiZTGaPJ4o\
    i6urqYDabodVqoVY3v+RdysIrtu4onudhtVpRXV0NtVoNrfaHP5pZs2bZl8RUKpUQBOGe7\
    hdbLAD296dl7t7e3lA1mbCr6WtkMhnq6+thNBoREBBgf/zu3buor6+Hl5cXtFqtPe60adN\
    w9uxZyGQyBAcHQxTFZsXJ9vP9uq9sRaNpNxkVi84niiLSvzuLXfsPoay84p7HB0ZHYf6sH\
    2NA/8h2dVMyxnCtsAiJO/fgcl7+PY/L5XKMGDoEMx6dhAB/PwT4+bUrT8YYrl4rxNbd+5B\
    79do9Oz69goMwc9oUjBsTD4VcTp+ddnLbLiDGGJKSksAYw9ChQzFhwgQADd0jTc8L1NfX4\
    5133kF8fDz0ej2GDBmCxx57DEePHm3W0De1YsUK5OTkAAD279+PJUuWoLq6Gowx5OTk4Jl\
    nnsGwYcMwZMgQJCQkYP369aitrZW8N26xWLBq1SpMnToVv/71rzFjxgzo9XqMGjUKGzduh\
    NVqBWMMX3/9NVatWoVVq1bBYrFg//79mDp1KmbOnIni4mIwxnDo0CFMnToV06dPx5UrV8A\
    Yw+XLl/HUU08hNjYWer0ejzzyiH0xedvvNn36dEydOhUbN27EmDFjMHXqVDDGUFZWhtWrV\
    2P48OHQ6/UYMWIEnn/+eXt3T2ZmJlatWoWXX34ZVVVVOHToEF577TX777V69Wps3LgR2dn\
    Z9m189dVXEEURRqMRzz77LKZOnYoPPvig2xzV9HSiKGJLym789fPNKCuvgEIuR59eIYiJ6\
    oegAH/wPI/cq9fwx48+xeaU3e2KmV94HX/a8FdczsuHTCZDSFAgYqIi0Te0D3RaDaxWKzL\
    Pf4933v8IuVevtSsmYwwZ353F+o8/xeW8fHAAAgP8ERMViT69QqBUKFBWXoG/b96K9zb8F\
    YZ6o8PvicdhbkgURVZdXc369OnDALDXX3+drV+/ngFgvr6+7Nq1a0wURSYIAvvoo48Yx3F\
    MpVKxYcOGsYiICAaA+fv7s7y8PCYIApsxYwYDwGbNmsVEUWSjRo1icrmcAWBeXl4sMjKSl\
    ZeXs5ycHNavXz8GgPn4+LCoqCgml8sZx3HsqaeeYvX19UwUxWa5mkwm+zYXL17c7LEXX3y\
    RAWCBgYGssrKSGY1GNnr0aAaAcRzHvL29mVqtZgCYVqtlmZmZTBAEtmnTJgaAAWAGg4Fdu\
    3aN6XQ6xnEc+9e//sUEQWArVqxgAFhMTAwzGAwsPz+fxcTEMAAsNDSU6fV6plAomFKpZEl\
    JSUwQBJaens4UCoX99wPA+vfvzywWC1u+fDkDwIKDg1lCQgILCgqy/05Wq5UlJSUxAMzPz\
    48VFRWxzz//nPn6+trz9PPzY6+//jqrra1lgwcPZgDYc889xwRBYLm5uczLy4vxPM927Nj\
    BBEG4530kznf45Cn29PMvsaeff4n94X83sILrxUwQBMYYYxaLhV3Oy2e/+9P/sl/851pWc\
    L2ozXiCKLL1H33Knn7+JfbLtb9hF3Ov2OOJoshqautY+rdn2H/99v+x//7du8xsNrcZUxR\
    FdvVaIfvFf65lTz//EnvpzXfYmaxsZjZb7I+X3Cxjf/18M3vmly+zo6mnJbwjnsdtjwBOn\
    DiBsrIyyGQyzJgxA5MmTYJcLkd1dTWOHDli7y8sKirCuHHj8O677+L06dPYtGkTNBoNqqq\
    q8N1337Ua+8CBAxg5ciQAYPHixfj666/h6+uL9957D4WFhYiKisLJkydx5swZfPjhh+A4D\
    klJSUhLS5P8e7HGvV+9Xo+MjAxs374dKpUKd+/ebTU+x3EIDw/HhAkTwBjD/v37YTKZ7M+\
    dN28eVCoVPv74Y+Tl5WHYsGE4ffo0vvnmG6xZswZmsxnr16+/52Syj48PvvjiC2zduhUmk\
    wkZGRkAgKVLlyIlJQWbN2/G4sWL4ePjA5PJ1OyQm+M4zJ8/H//85z8BACqVCnv37sWrr74\
    KjUaDxYsXAwD27dsHs9mMY8eOwWg0IiwsDOPHj3f6SCxyr5raWqTsPQAAiOwbjhdW/Af69\
    Q2zd+nJ5XIMjI7CL55aihmPTka/vuFtxrx79y4Ki24AAB5OGIPBMdH2eBzHwVunxdjRI/H\
    znyzG41MmPrAb1oYxhq279sJkNkOrUeOFFf+BkcOGQqGQ2+P26RWCpxfNx5SHx+GRcQ859\
    H54KrctAFu3boUoiggODkZgYCC0Wi2Cg4MBALt377afVH3jjTewcuVKZGZmYuLEiVi4cKF\
    9REp9fX2rDU1gYKD9w+nl5YWgoCCYTCZ89dVXAIAFCxZg+PDh8PX1xdNPP43Q0FCYzWakp\
    qbeE4u16M6wFabW7m9qypQpGDx4MCZOnGjvg6+trW31vZDJZFi0aBEA4NSpU7hw4QLy8vL\
    A8zzmzZsHi8ViLwilpaVYtGgRJk+ejD179gAALl26hNLS0mYxX3rpJSxbtgzx8fFQKpUYO\
    HAgAGDDhg0YOXIk3nrrLfTt2xevvPJKq+dA1Go1/Jr07wYEBMDb2xsAsGzZMmi1Wty4cQN\
    ff/01Dh48CAB47LHHEBgY2OrvSJwr47tzuGswgOM4LJg9Axp161M39woOxqzpU9sVUxBEC\
    KLQ5vMG9I9sd0NdXHITl65cBQBMefhH6BsW2urzlEoFls6fAwWdCO4QtywAlZWVOHz4MAD\
    g1q1bGD16NBISElBWVgag4eRwRUUFBEHAT3/6U/z0pz9FcnIyRFHE9OnT4evre9/YLa8js\
    P3MGIPJZAIA+Pv72+9XKBTQ6XQAcM9QTluj3vIisNYKQMsLwhQKBXieb3ai9EHXODz++OM\
    ICQlBSUkJtmzZAqPRiOjoaMTHx4MxBqOxoV/UaDSitLQUJSUlMBgMCAsLQ3Bw8D3DNGNjY\
    +3bk8vl+OSTT7BixQpERkbi9u3bSEtLw3vvvYfZs2e3Wpha5tn0Go3+/ftj4sSJEEURSUl\
    JyMjIgFwux/z582nPv4tkXWw4x+Xn4wP9wJj7Po/nOcgbT8q3RatRw8/HBwBwNPU0vjxyH\
    LcqKu/5rMtksnbH/D7nEljjax6Kj7vv54PjOGr8HeBWBcDWcB45cgQVFQ0jFtRqtb3LwKt\
    xEeqqqiqcOHECxcXF2LlzJziOw4YNG5CRkYE//vGP9+yxtrYNm/r6ejDGoFKp7MNET506B\
    YvFAsYYCgoKcP36dXAchyFDhtwTj+d5+Pv7AwAuX76MO3fuAGhoiM+dO2f/HTQajaTGLyg\
    oCNOmTbMPjQWAhQsXNvyxyeXo27cvAGDs2LHIyspCTk4O0tPTsXPnTqSkpCCgBx9cAAAIS\
    UlEQVQ6OrrZ9puODjIYDDhy5AgSEhJw9OhRfP/993jjjTfAcRzy8vJw5cqVNvNrOiqI53k\
    888wz4HkeiYmJKC0tRXh4OMaNG+fw70/ajzGGG6U3AQAR4aH2UVdSKRQKTJ88ARzHwWQ2Y\
    +uufVj7zjq8+Ou38acNf0Xy7n3IvpQLq7XtowSb4sY8tRo1QoLo6NDZ3KoAAI0jF7ZsgSi\
    K8PX1xaVLl1BYWIjr168jNTUVGo0GjDHs2rULSqXSPnxz//79+Oyzz7B8+XLcvHnzgdtgj\
    MGncU/m8OHDePnll2E0GvGLX/wCMpkMBw4cwNKlS/H2229jzpw5MBgMiI6OxqxZs+6JJZP\
    JMH36dHAch3PnzmHMmDGYN28e4uPjceLECXAch0cffRRKpdLh0S+2K5gXL14MjuNQW1sLu\
    VyOefPmAfihwZXL5Th+/DjWrFmDDRs2YNq0aRgzZgxWrlx5z7BNW1zbe/773/8eP//5z/H\
    CCy/gwoULuH37NgBAo9EgJCSk1bxsQ1LNZjNee+01JCcn27fx+OOPIzQ0FFVVVQAahrba3\
    nPSuaxWAabGcz7eOq1TY08aPxbPLl+MoMAAcBwHQRBxp7oG2TmXsffQMfzp47/g1bffxbn\
    si+36vN811AMAFHI5VLTEpNO5XQG4ceMGTp8+DaChnzw0NBR+fn7w9/fH0KFDER0dDQA4d\
    uwYtFot1qxZA5lMhpSUFKxZswY5OTn2vui6ujr7FBAtzZkzBxqNBiUlJfj73/8Ok8mE+fP\
    n43e/+x28vb2RkpKCt956C7m5udDr9fjiiy/Qq1eve+JwHIe1a9di+fLl8PLyQn5+Pnbt2\
    oXLly9DqVRizpw5WL9+fbNuHpv7nT9oeZ/N+PHj0a9fPwDAkCFDml149sQTT+C3v/0tNBo\
    N/v3vf+O1115Dbm4uRowYgc8++8x+9NTatnQ6HT744AP07t0bu3btwoIFC/DnP/8ZWq0Wb\
    775JsLCwlr9v4qNjUVsbCx4nsfu3bubncTW6XRYsGABgIY9xyeffJK6f7qITPbDdSEmc8e\
    vnH8QjuPwcMIY/PE3a/Hrl36JZfPmYHzCaISH9oGy8bxaxe0qfPTZJlwtKGwznq1bRxBFW\
    IX2HzmQ9nGrFcEYY6iqqsL58+chiiKioqIQGRnZrJ8+KysLlZWVAICHHnoISqUSGRkZuHD\
    hAtRqNSZPnoyysjLU1tYiNDQUgwYNwvfff4/KykoEBgZi2LBhABr2evPz83Hjxg3wPI+xY\
    8dCqVTa709LS0NdXR0iIiLwyCOPwNvb+75zETHGYLVacfHiRXzzzTcoLS1FSEgIRo8ejeH\
    Dh0OhUDTuLQk4c+YMamtr0bdvX8TExIAxhvT0dJhMJvTv3x8RERG4efMmLl26BACYMGEC5\
    HK5/SKrrKwsVFVVISQkBHq9vtl7IwgCrly5goyMDBgMBvTr1w8TJkxodg7j7NmzYIwhLi4\
    Ofn5+4HneHrukpARpaWmoqKiAt7c3xowZg4EDB4LjOJSXlyM7OxsKhQIJCQlQqVQQRRF37\
    txBbm4uDAYDwsPDERMTg7q6Oty6dQtvvvkmEhMTMXDgQJw9exYajaYLP02e7bfr/wcFRcX\
    oG9YH76x9udOLL2MMFZW3sf/oCRw7lQ7GGMaOGolV/7H8ga9L3LEH+4+egEqlxB/eeAVBj\
    QMiiHO4XQG4n5YnUV2ptQLQnte09jxbrI787m393JE8HH1fH/S6zZs3Y+XKlfYTz++++y5\
    eeeUVh6YcII5J2rkXJ05nQC6X4Tf/9QKCA1tvWFsbyPAgVqsAxsT7DvG0CgL+8D8fo7SsH\
    H16h+A3L//qgfHOfX8Rf/l8M8ABzyyej7GjRt73ufc7mif351Z/cU33sFve2nq8K28dybu\
    t/B353dv6WUosR+M0vT84OBhjx47FtGnTsHbtWqxevdrpnxXyYKNGxMJoNKKmtg77Dh+7b\
    7EWBAG7Dx5p104AYwzfncvCueyL932OjOfBGGCor4fVYm0z5uAB0VAo5DAY6vHlkeMwGk3\
    33fb+oyfoKuAOonFTpMs9+uijmDJlCgA4bQQK6ZjoyH6IG6bHmawLSE3/BqG9QjB14sOQN\
    TkKE0URR06exq79h9E7OAgJD9j7BgCL1YovjxxHTW0tOI7DyGFD7/n/vVpQiOLGa06io/q\
    1madKpcTMaVOwefsuFBbdwOfJKXhq4ZNQNzlnxRjDxdw87Dl4FJVVd/CT+XPoaLKd3KoLi\
    BDiPHeqa/DO+/+HittV4DgOMVH9EBerh5+PD6qqa3AmKxvXrheBMYbIvuH47zUroX3AeZp\
    vz57HJ//4l/0izD69QjBMPwihvXqB5zkUFpcg/dszuGswwEulwlv//SL69Gp9BFlTFosFn\
    /zjXziTlQ0ACAkOwpi44egTEgyjyYSLuXnIupgDq1WATqvFK8+vQGRE21cuEyoAhHi08sr\
    b+Mumf+NKfkGrj8t4HtOnTMScx6dBpVI+sI/dYrHiakEhNqfssk8J0RpvnRYrn16G2CGD2\
    t1nbzSZsHn7LqSmf3Pf7qi4WD2eWjQPgf5+dC6gnagAEOLhRFHE+Qs5+O5cFm6UlsFsscB\
    Hp0N0VAQeGfsQeocEdygeYwyX8/JxLvsirhffQHVtHTgAAf5+0A8agIcTRkOn7fj1B4wxF\
    BQVI+3bM7hWWARDvQFeKi9EhIUiYVQcBg+Ipoa/g6gAEEKIh6IzJYQQ4qGoABBCiIeiAkA\
    IIR6KCgAhhHgoKgCEEOKhqAAQQoiHogJACCEeigoAIYR4KCoAhBDioagAEEKIh6ICQAghH\
    ooKACGEeCgqAIQQ4qGoABBCiIf6/8OY5ld1cOITAAAAAElFTkSuQmCC');
}
